{% extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block content_title %}
    Main Page
{% endblock %}

{% block content %}
    <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut cumque exercitationem expedita,
        incidunt inventore iusto labore, modi, nemo quaerat quam repellat sed ullam voluptate voluptatibus.
        Aliquid culpa error modi? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Consequuntur dolore excepturi facilis iure iusto magni odio quo sapiente, sequi sint.</p>
        <p>Culpa deserunt dicta impedit ipsam labore porro quaerat reprehenderit velit. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Amet autem culpa delectus deserunt doloremque, exercitationem hic inventore
        iusto molestias nisi nostrum odio quaerat quas quis rem temporibus unde velit veniam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut cumque exercitationem expedita,
        incidunt inventore iusto labore, modi, nemo quaerat quam repellat sed ullam voluptate voluptatibus.</p>
        <p>Aliquid culpa error modi? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Consequuntur dolore excepturi facilis iure iusto magni odio quo sapiente, sequi sint.
        Culpa deserunt dicta impedit ipsam labore porro quaerat reprehenderit velit. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Amet autem culpa delectus deserunt doloremque, exercitationem hic inventore
        iusto molestias nisi nostrum odio quaerat quas quis rem temporibus unde velit veniam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut cumque exercitationem expedita,
        incidunt inventore iusto labore, modi, nemo quaerat quam repellat sed ullam voluptate voluptatibus.
        Aliquid culpa error modi? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Consequuntur dolore excepturi facilis iure iusto magni odio quo sapiente, sequi sint.
        Culpa deserunt dicta impedit ipsam labore porro quaerat reprehenderit velit. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Amet autem culpa delectus deserunt doloremque, exercitationem hic inventore
        iusto molestias nisi nostrum odio quaerat quas quis rem temporibus unde velit veniam.</p>
    </div>
{% endblock %}
