<main class="content">

  <h1>Electron Timer</h1>

  <div class="progress-wrapper" *ngIf="maxValue">

    <div class="text" *ngIf="!isFinished">
      {{ max - current | number: '1.1-1' }}
    </div>

    <div class="text" *ngIf="isFinished">
      ding!
      <audio src="assets/ding.mp3" autoplay></audio>
    </div>

    <round-progress
      [max]="maxValue"
      [current]="currentValue"
      [radius]="100"
      [stroke]="25">
    </round-progress>

  </div>

  <div class="controls-wrapper">
    <div>
      <label>Seconds</label>
      <input class="input" placeholder="number of seconds" type="text"
             [(ngModel)]="max"
             (keydown)="reset()">
    </div>

    <button class="button is-info" *ngIf="currentValue <= 0" (click)="start()">Start</button>
    <button class="button is-danger" *ngIf="!isFinished" (click)="finish()">Finish</button>
  </div>


</main>
