{% extends 'base.html' %}

{% block title %}
    Create new post
{% endblock %}

{% block content_title %}
    New Post
{% endblock %}

{% block content %}

    <div class="col-md-6">
        <form action="{{ url_for('posts.create_post') }}" method="POST">

            {% for field in form %}
                <div class="form-group">
                    {{ field.label(class='control-laber') }}
                    {{ field(class='form-control') }}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-dark">Create</button>
        </form>
    </div>
{% endblock %}
