{% extends 'base.html' %}

{% block title %}
    Edit post
{% endblock %}

{% block content_title %}
    Edit Post
{% endblock %}

{% block content %}

    <div class="col-md-6">
        <form action="{{ url_for('posts.edit_post', slug=post.slug) }}" method="POST">

            {% for field in form %}
                <div class="form-group">
                    {{ field.label(class='control-laber') }}
                    {{ field(class='form-control') }}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-dark">Edit</button>
        </form>
    </div>
{% endblock %}
