{% extends 'base.html' %}

{% block title %}
    {{ tag.name }} posts
{% endblock %}

{% block content_title %}
    Posts for "{{ tag.name }}" tag:
{% endblock %}

{% block content %}
        {% for post in tag_posts %}
            <div class="posts">
                <a href="{{ url_for('posts.post_detail', slug=post.slug) }}">{{ post.title }}</a>
            </div>
{#            <div class="main-content">#}
{#                {{ post.body }}#}
{#            </div>#}
        {% endfor %}
{% endblock %}
